extends ./layout/index

block contenido
  main.container.mt-5 
    .row  
      .col-md-5
        img(src="img/nosotros.jpg" alt="paris", class="img-fluid")

      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas ullam ab possimus tempore doloribus cumque nihil unde quisquam quis, repellendus officiis laborum, harum pariatur inventore accusantium.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas ullam ab possimus tempore doloribus cumque nihil unde quisquam quis, repellendus officiis laborum, harum pariatur inventore accusantium magnam natus laboriosam. Deleniti aliquid autem explicabo alias cum labore dicta? Error, saepe ea molestias fugiat.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas ullam ab possimus tempore doloribus cumque nihil unde quisquam quis, repellendus officiis laborum, harum pariatur inventore accusantium magnam natus laboriosam. Deleniti aliquid autem explicabo alias cum labore dicta? Error, saepe ea molestias fugiat.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row  
        .col-md-4
          img(src="img/icono_seguridad.svg" alt="seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Deleniti aliquid autem explicabo alias cum labore dicta? Error, saepe ea molestias fugiat.

        .col-md-4
          img(src="img/icono_destinos.svg" alt="destinos" class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Deleniti aliquid autem explicabo alias cum labore dicta? Error, saepe ea molestias fugiat.

        .col-md-4
          img(src="img/icono_precios.svg" alt="precios" class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Deleniti aliquid autem explicabo alias cum labore dicta? Error, saepe ea molestias fugiat.

          
